*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.CrudTodo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 100px auto;
}

.CrudTable {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
}

.CrudeNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 220px;
}
.ListItem {
  /* display: flex; */
  margin-top: 20px;
}

.ListItem li {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 20px;
}

.elementh1 {
  width: 150px;
}
.elementp {
  width: 150px;
}
.elementtime {
  width: 150px;
}

.elementbtn {
  padding: 5px 20px;
  background-color: red;
  border-radius: 8px;
  color: #fff;
  border: none;
}
.edit {
  background-color: rgb(60, 238, 60);
}

.AddTask {
  padding: 5px 20px;
  background-color: rgb(0, 47, 255);
  border-radius: 8px;
  color: #fff;
  border: none;
}

.SaveTask {
  padding: 5px 20px;
  background-color: rgb(60, 238, 60);
  border-radius: 8px;
  color: #fff;
  border: none;
}

.Input {
  display: flex;
  gap: 10px;
}
